body {
  margin: 0;
  line-height: normal;
}
.ests-tan-cerca,
.seguro-que-quieres {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.ests-tan-cerca {
  line-height: 36px;
  font-weight: 700;
}
.seguro-que-quieres {
  font-size: var(--poppins-bold-text-xl-size);
  line-height: 28px;
}
.ests-tan-cerca-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-lg) var(--padding-sm);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  z-index: 0;
}
.text3 {
  position: relative;
  font-size: var(--poppins-regular-text-base-size);
  line-height: 24px;
  font-family: var(--poppins-regular-text-lg);
  color: var(--white);
  text-align: left;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-md);
  background-color: var(--red-500);
  flex: 1;
  border-radius: var(--br-2xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text4 {
  position: relative;
  font-size: var(--poppins-regular-text-base-size);
  line-height: 24px;
  font-family: var(--poppins-regular-text-lg);
  color: var(--gray-900);
  text-align: left;
}
.button-group,
.button4 {
  display: flex;
  flex-direction: row;
}
.button4 {
  cursor: pointer;
  border: 1px solid var(--gray-300);
  padding: var(--padding-4xs) var(--padding-md);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-2xs);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.button-group {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  z-index: 1;
}
.heroicons-minix-mark {
  position: absolute;
  margin: 0 !important;
  top: 16px;
  right: 24px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
}
.modalconfirmationout {
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: var(--drop-shadow-lg);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--poppins-bold-text-3xl-size);
  color: var(--foundation-neutral-neutral-black);
  font-family: var(--poppins-regular-text-lg);
}
