body {
  margin: 0;
  line-height: normal;
}
.en-segundos-te,
.sabamos-que-eras {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.sabamos-que-eras {
  line-height: 24px;
  font-weight: 700;
  z-index: 0;
}
.en-segundos-te {
  font-size: var(--poppins-bold-text-sm-size);
  line-height: 20px;
  color: var(--neutral-800);
  z-index: 1;
}
.modalchecked-child {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-2xl) var(--br-2xl) 0;
  background-color: var(--foundation-olive-olive-500);
  width: 194px;
  height: 7px;
  flex-shrink: 0;
  z-index: 2;
}
.modalchecked {
  position: relative;
  border-radius: var(--br-sm) var(--br-sm) var(--br-3xs) var(--br-sm);
  background-color: var(--neutral-50);
  box-shadow: var(--drop-shadow-xl);
  width: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--poppins-regular-text-base-size);
  color: var(--foundation-olive-olive-700);
  font-family: var(--source-sans-pro-bold-text-sm);
}
