body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.arrow-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.ingresar-tu-direccin {
  position: relative;
  font-size: var(--poppins-regular-text-base-size);
  line-height: 24px;
  font-family: var(--poppins-regular-text-lg);
  color: var(--foundation-violet-violet-500);
  text-align: left;
}
.container-address-navbar {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.logo-foody-v200-icon5 {
  position: relative;
  width: 122.02px;
  height: 45px;
  flex-shrink: 0;
  overflow: hidden;
}
.navbar,
.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-container {
  flex: 1;
  justify-content: center;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  box-shadow: var(--drop-shadow);
  width: 1440px;
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-4xl);
  box-sizing: border-box;
  justify-content: flex-start;
}
.img-child,
.img-icon {
  top: 0;
  left: 0;
  height: 159px;
}
.img-child {
  position: absolute;
  border-radius: var(--br-md) var(--br-md) var(--br-xl) 0;
  background-color: var(--foundation-violet-violet-500);
  width: 608px;
}
.img-icon {
  width: 183.02px;
}
.img-icon,
.img-icon1,
.img-item {
  position: absolute;
  object-fit: cover;
}
.img-icon1 {
  top: 0;
  left: 425.02px;
  border-radius: var(--br-3xl);
  width: 182.98px;
  height: 159px;
}
.img-item {
  top: 11px;
  left: 129px;
  width: 262px;
  height: 200px;
}
.its-healthy {
  font-weight: 800;
}
.its-healthy-its-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.quote {
  position: absolute;
  top: 23px;
  right: 87px;
  border-radius: var(--br-md) var(--br-md) var(--br-md) var(--br-3xs);
  background-color: var(--neutral-900);
  box-shadow: var(--drop-shadow-xl);
  width: 194px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.detalles-de-tu,
.img {
  align-self: stretch;
  position: relative;
}
.img {
  border-radius: 0 0 var(--br-xl) 0;
  height: 159px;
  flex-shrink: 0;
  overflow: hidden;
}
.detalles-de-tu {
  margin: 0;
  font-size: var(--poppins-bold-text-sm-size);
  line-height: 20px;
  color: var(--neutral-600);
}
.n-productos-6-container {
  margin: 0;
  position: relative;
  line-height: 24px;
}
.row-container1 {
  gap: var(--gap-sm);
}
.row-container1,
.row-container2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heroicons-outlinecheck-circle {
  position: relative;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  overflow: hidden;
}
.pagado {
  position: relative;
  text-transform: uppercase;
}
.tag {
  border-radius: var(--br-xs);
  background-color: var(--foundation-pear-pear-500);
  box-shadow: var(--drop-shadow);
  height: 24px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--foundation-neutral-neutral-black);
}
.id-de-orden {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--poppins-bold-text-xs-size);
  line-height: 16px;
  color: var(--neutral-500);
}
.column-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.text24 {
  position: relative;
  font-size: var(--poppins-bold-text-sm-size);
  line-height: 20px;
  font-family: var(--poppins-regular-text-lg);
  color: var(--white);
  text-align: left;
}
.heroicons-miniarrow-up-right {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.button18,
.details-card {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.button18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-2xs);
  background-color: var(--foundation-violet-violet-500);
  border-radius: var(--br-md);
  justify-content: center;
}
.details-card {
  border-radius: var(--br-sm);
  background-color: var(--neutral-50);
  box-shadow: var(--drop-shadow);
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
  width: 524px;
  padding: var(--padding-sm) var(--padding-xl);
  justify-content: flex-start;
}
.comparte-tu-cdigo {
  display: block;
}
.comparte-tu-cdigo-container,
.dile-a-tus {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.comparte-tu-cdigo-container {
  line-height: 28px;
  font-weight: 700;
}
.dile-a-tus {
  font-size: var(--poppins-bold-text-sm-size);
  line-height: 20px;
}
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text25 {
  margin: 0;
  position: relative;
  line-height: 24px;
  font-weight: 700;
}
.heroicons-outlineclipboard-do {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.button19,
.column-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button19 {
  border-radius: var(--br-md);
  background-color: var(--foundation-pear-pear-200);
  padding: var(--padding-4xs) var(--padding-md);
  justify-content: center;
  gap: var(--gap-md);
  font-size: var(--poppins-regular-text-base-size);
}
.column-parent {
  align-self: stretch;
  border-radius: var(--br-sm);
  border: 1px solid var(--neutral-300);
  padding: var(--padding-md) var(--padding-xl);
  justify-content: flex-start;
  gap: 72px;
  font-size: var(--poppins-regular-text-lg-size);
}
.tus-amigos-obtendrn-container {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 20px;
}
.heroicons-solidcheck-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.conoce-ms {
  color: var(--foundation-violet-violet-500);
}
.column-container1 {
  align-self: stretch;
  border-top: 1px solid var(--neutral-300);
  display: flex;
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-3xl) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--poppins-bold-text-sm-size);
}
.aplica-trminos-y,
.text26 {
  position: relative;
  line-height: 16px;
}
.aplica-trminos-y {
  margin: 0;
}
.text26 {
  font-size: var(--poppins-bold-text-xs-size);
  font-family: var(--poppins-regular-text-lg);
  color: var(--foundation-violet-violet-500);
  text-align: left;
}
.aplica-trminos-y-condiciones-parent,
.button20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.button20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-2xs);
  overflow: hidden;
  align-items: center;
}
.aplica-trminos-y-condiciones-parent {
  align-items: flex-start;
  text-align: center;
  font-size: var(--poppins-bold-text-xs-size);
  color: var(--neutral-600);
}
.container,
.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-card {
  align-self: stretch;
  padding: var(--padding-lg) 0;
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--poppins-regular-text-base-size);
  color: var(--neutral-900);
  font-family: var(--poppins-regular-text-lg);
}
.container {
  position: absolute;
  top: 130px;
  left: 416px;
  border-radius: var(--br-md);
  background-color: var(--white);
  box-shadow: var(--drop-shadow-lg);
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
  width: 608px;
  overflow: hidden;
  justify-content: flex-start;
}
.thank-you-page {
  position: relative;
  background-color: var(--neutral-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--poppins-bold-text-2xl-size);
  color: var(--white);
  font-family: var(--font-neuron);
}
@media screen and (max-width: 1200px) {
  .navbar,
  .thank-you-page {
    width: 100%;
  }
}
